.LoginForm {
    background: url("https://swall.teahub.io/photos/small/341-3414442_free-art-wallpaper-bright-colors.jpg") no-repeat center center fixed;
    height: 100vh;
    background-size: cover;
}

.loginBtn {
    border-color: black !important;
    text-align: left !important;
}

.loginBtn:hover {
    background-color: rgba(0, 0, 0, 0.178);   
}

.login-input {
    border-radius: 5px;
}

.form {
    width: 30%;
    margin: 0 auto;
}

.grp {
    text-align:left !important;
}

.signup-link {
    text-decoration: none;
}