.signupBtn {
    border-color: black !important;
    text-align: left !important;
}

.signupBtn:hover {
    background-color: rgba(0, 0, 0, 0.178);
}

.signup-input {
    border-radius: 5px;
}

.form {
    width: 30%;
    margin: 0 auto;
}

.grp {
    text-align:left !important;
}

.signup-link {
    text-decoration: none;
}