.album-col {
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 0 !important;
}

.AlbumList {
    /* display: grid; */
    width: 70% !important;
    margin: 0 auto;
}